body {
	background-color: #F0F0F0;
}
div.main {
	box-shadow: 10px 10px 5px #D3D3D3;
    padding: 25px;
    margin-left: 200px;
	margin-right: 200px;
	background-color: white;
}

div.text {
	margin-left: 250px;
	margin-right: 50px;
}
/*this is a test*/

.topnav {
  margin-left: 250px;
  margin-right: 50px;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  width: 100px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #7e0001;
    color: white;
}