body {
	background: #627E2F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#485D22, #9FC35F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#485D22, #9FC35F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#485D22, #9FC35F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6485D22, #9FC35F); /* Standard syntax (must be last) */
}

img{
	float:left;
}

.center{

	margin: auto;
    width: 50%;
    border: 3px solid green;
	display: block;
    padding: 10px;
}

a{
	text-decoration: none;
}

p{
	font-family: 'Gloria Hallelujah', cursive;
}

h1{
	font-family: 'Pacifico', cursive;
	
}

div.contentimg {
	float: right;
	display: block;
	width: 400px;
	margin-top: 100px;
}
div.main {
	box-shadow: 10px 10px 5px #485D22;
    padding: 25px;
    margin-left: 10%;
	margin-right: 10%;
	background:rgba(255,255,255,0.85);
	height: 2000px
}

div.text {
	float:left;
	width: 50%;
	margin-top: 25px;
	margin-left: 250px;
	margin-right: 50px;

}

.topnav {
  margin-left: 17%;
  margin-right: 0%;
  margin-top: 85px;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  width: 100px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Pacifico', cursive;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #7e0001;
    color: white;
}

.link{
	font-family: 'Gloria Hallelujah', cursive;
	text-decoration: none;
}


.link a:hover{
	color: darkgreen;
}