body {
	background: #627E2F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#485D22, #9FC35F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#485D22, #9FC35F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#485D22, #9FC35F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6485D22, #9FC35F); /* Standard syntax (must be last) */
	margin: 0;
    padding: 0
}

#headerBar {
    height: 100px;
    background: #7a7a7a;
	z-index: 5;
}

.topnav {
  margin-left: 12vw;
  margin-top: 8vh;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  width: 6vw;
  height: auto;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Pacifico', cursive;
  padding: 0.8vw 0.8vh;
  text-decoration: none;
  font-size: 1.25vw;
  overflow: hidden;
  }

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #485D22;
    color: white;
}

.link{
	font-family: 'Gloria Hallelujah', cursive;
	text-decoration: none;
}

div.contentimg {
	float: right;
	width: 20vw;
	margin-top: 10vh;
	display:block;
}

img.dynamic{
	width: 18vw;
	height:auto;
}

img.logo{
	width: 9vw;
	height: auto;
	position: absolute;
}

img.slideshow{
	width: 40vw;
	height: auto;
	display:block;
	margin-left: 12vw;
	float:left;
}

a{
	text-decoration: none;
	font-size: 18px;
}

p{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 18px;
}


h1{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	
}

h2{
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	
}

div.main {
	box-shadow: 0.8vw 0.8vw 0.5vw #485D22;
    padding: 1.2vw;
    margin-left: 10vmax;
	margin-right: 10vmax;
	background:rgba(255,255,250,0.85);
	height: 150em;
	position:relative
}

p.legal{
	float:bottom;
	width: 400px;
}

div.text {
	float:left;
	width: 40vw;
	margin-top: 4vh;
	margin-left: 12vw;
	margin-right: 2vw;

}

div.social {
	float: right;
	margin-right: 2vw;
	width:18vw;
	clear: right;
}


div.gamelist{
	width: 15vw;
	height: 30vh;
	float: left;
	margin-top: 3vh;
	margin-left: 12vw;

}

div.about{
	width: 15vw;
	height: 30vh;
	float: left;
	margin-top: 3vh;
	margin-left: 5vw;
}

.link a:hover{
	color: darkgreen;
}

div.bottombar {
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 77.8vw;	
	height: 2.5vh;
	color: #f2f2f2;
	font-size: 2vmin;
	background-color: #333;
	position:absolute;
	padding-left: 0.5vw;
	padding-top: 0.3vw;
}
